In [14]:
import pandas

print("Welcome to the database of the boys and girls in a class! \n")

girls_data = {
    "Name": ["Evelyn", "Jessica", "Somto", "Edith", "Liza", "Madonna", "Waje", "Tola", "Aisha", "Latifa"],
    "Age": [17, 16, 17, 18, 16, 18, 17, 20, 19, 17],
    "Height": [5.5, 6.0, 5.4, 5.9, 5.6, 5.5, 6.1, 6.0, 5.7, 5.5],
    "Score": [80, 85, 70, 60, 76, 66, 87, 95, 50, 49] 
}

boys_data = {
    "Name": ["Chinedu", "Liam", "Wale", "Gbenga", "Abiola", "Kola", "Kunle", "George", "Thomas", "Wesley"],
    "Age": [19, 16, 18, 17, 20, 19, 16, 18, 17, 19],
    "Height": [5.7, 5.9, 5.8, 6.1, 5.9, 5.5, 6.1, 5.4, 5.8, 5.7],
    "Score": [74, 87, 75, 68, 66, 78, 87, 98, 54, 60]
}

girls_dataframe = pandas.DataFrame(girls_data)
boys_dataframe = pandas.DataFrame(boys_data)

# Merge both tables
students_dataframe = pandas.concat([girls_dataframe, boys_dataframe], ignore_index=True)
# Display table
print(students_dataframe)

Welcome to the database of the boys and girls in a class!

       Name  Age  Height  Score
0    Evelyn   17     5.5     80
1   Jessica   16     6.0     85
2     Somto   17     5.4     70
3     Edith   18     5.9     60
4      Liza   16     5.6     76
5   Madonna   18     5.5     66
6      Waje   17     6.1     87
7      Tola   20     6.0     95
8     Aisha   19     5.7     50
9    Latifa   17     5.5     49
10  Chinedu   19     5.7     74
11     Liam   16     5.9     87
12     Wale   18     5.8     75
13   Gbenga   17     6.1     68
14   Abiola   20     5.9     66
15     Kola   19     5.5     78
16    Kunle   16     6.1     87
17   George   18     5.4     98
18   Thomas   17     5.8     54
19   Wesley   19     5.7     60