In [18]:
# String data type
str = input("Enter your state of origin:")

print ("Your state of origin is: ", str)
print ("The first character is: ", str[0])
print ("The characters starting from 3rd to 5th are: ", str[2:5])
print ("The string starting from 3rd character is: ", str[2:])
print ("State of origin two times", str * 2)

Enter your state of origin: 5

Your state of origin is:  5
The first character is:  5
The characters starting from 3rd to 5th are:
The string starting from 3rd character is:
State of origin two times 55

In [20]:
# Numeric data type
# Input from user
m = float(input("Enter mass in kilograms: "))

# Constant value for the speed of light in m/s
c = 299792458

# Calculating energy using Einstein's equation
energy = m * c ** 2

# Displaying the result
print (f"The energy equivalent to {m} kg of mass is {energy} joules.")

Enter mass in kilograms:  5

The energy equivalent to 5.0 kg of mass is 4.493775893684088e+17 joules.

In [22]:
# List data type
list = [ 'Anaconda', 786, 2.23, 'Jupyter', 70.2 ]
shortlist = [321, 'Python']

print(list) # Prints complete list
print(list[0]) # Prints first element of the list
print(list[1:3]) # Prints elements starting from 2nd till 3rd
print(list[2:]) # Prints elements starting from 3rd element
print(shortlist * 2) # Prints list two times
print(list + shortlist) # Prints concatenated lists

['Anaconda', 786, 2.23, 'Jupyter', 70.2]
Anaconda
[786, 2.23]
[2.23, 'Jupyter', 70.2]
[321, 'Python', 321, 'Python']
['Anaconda', 786, 2.23, 'Jupyter', 70.2, 321, 'Python']

In [26]:
# Tuple data type
tuple = ("Ekiti", 750, 'Oshogbo', 250, "Akure", 500)
s_tuple = ("Abeokuta", 300, "Ogbomoso")

# Prints the complete tuple
print (tuple)

# Prints last element of the tuple
print (tuple [-1])

# Prints elements of the tuple starting from 3rd till 4th
print (tuple[2:4])

# Prints elements of the tuple starting from 4th element
print (tuple[3:])

# Prints the contents of the tuple twice
print (s_tuple * 3)

# Prints concatenated tuples
print (tuple + s_tuple)

('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500)
500
('Oshogbo', 250)
(250, 'Akure', 500)
('Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso', 'Abeokuta', 300, 'Ogbomoso')
('Ekiti', 750, 'Oshogbo', 250, 'Akure', 500, 'Abeokuta', 300, 'Ogbomoso')

In [28]:
# Boolean Data Type
# Returns false as game_1 is not equal to game_2
game_1 = 2
game_2 = 4
print(bool(game_1 == game_2))
# Or
print(game_1 == game_2)

# Returns False as val is None
val = None
print(bool(val))

# Returns false as num is an empty sequence
num = ()
print(bool(num))

# Returns true as age is boolean
age = True
print(bool(age))

False
False
False
False
True

In [32]:
# Data Type Converstion
# Convert to int

grade = int(70) # grade will be 70
gpa = int(4.9) # gpa will be 4.9 
cgpa = int("4") # cgpa will be 4

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 70
GPA = 4
CGPA = 4

In [36]:
# Convert to float

grade = float(97)
gpa = float(5)
cgpa = float("4.7")

print(f"Grade = {grade}")
print(f"GPA = {gpa}")
print(f"CGPA = {cgpa}")

Grade = 97.0
GPA = 5.0
CGPA = 4.7